.more_customers {
    p{
        color: $gray;
        min-height: 70px;
        margin-bottom: 10px;
    }
    .socials{
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        height: calc(100% - 160px);
    
        button{
            width: calc(100% / 3);
            height: fit-content;
            display: flex;
            justify-content: center;
            gap: 5px;

            svg{
                color: $gray;
            }
        }
    }
}