button{
    border:0;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;

    &.blue-btn{
        background: $primaryBlue;
    }

    &.white-txt{
        color: $white;
    }

    &.outline-dark{
        border: 2px solid $lightBlack;
        background: transparent;
        color:$white;
    }

    &.full{
        width: 100%;
    }
}