button{
    border:0;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;

    &.blue-btn{
        background: $primaryBlue;
    }

    &.white-txt{
        color: $white;
    }

    &.dark{
        border: 1px solid $lightBlack;
    }

    &.transparent{
        background: transparent;
    }

    &.bold{
        font-weight: bold ;
    }

    &.full{
        width: 100%;
    }
}