// Primary Colors
$primaryBlue: #2a85ff;
$primaryGreen: #83bf6e;
$primaryRed: #ff6a55;
$primaryPurple: #8e59ff;


// Secondary Colors
$secondaryBlue: #b1e5fc;
$secondaryGreen: #b5e4ca;
$secondaryRed: #ffbc99;
$secondaryPurple: #cabdff;



$black: #111315;
$darkGrayishBlack: #1a1d1f;
$lightGrayishBlack: #272b30;

$gray: #747a81;

// For light mode
$white: #fcfcfc;
