.filter{
    border: solid 1px $lightGrayishBlack;
    width: 130px;
    display: flex;
    justify-content: space-around;

    >li{
        position: relative;
        width: 100%;
        cursor: pointer;

        .filter-subject{
            display: flex;
            justify-content: space-around;
            color: $gray;
        }
        
        >.filter-dropdown{
            background: $darkGrayishBlack;
            border: solid 1px $lightGrayishBlack;
            width: 100%;
            position: absolute;
            top:40px;
            z-index: 1;

            &[data-hidden="true"]{
                display: none;
            }

            li{
                margin: 5px 0px;
                padding: 5px;
            }

            li:hover{
                background: $lightGrayishBlack;
                padding: 5px;
                border-radius: 10px;
            }
        }
    }
}