.new_customers{
    
    &-welcome , &-list , &-list :is(.avatars , .avatar , .view_all){
        display: flex;
    }

    &-list :is(.avatar , .view_all){
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 80px;
    }

    &-welcome{
        justify-content: space-between;
        margin-bottom: 15px;
        
        p{
            width: 240px;
            font-size: 14px;

            @media only screen and (max-width:768px) {
                width: 160px;
                font-size: 13px;

                >span{
                    white-space: nowrap;
                }
            }
        }

        button{
            white-space: nowrap;
            width: fit-content;
        }

        @media only screen and (max-width:768px) {
            .hide{
                display: none ;
            }
        }
    }

    &-list{
        width: 100%;
        justify-content: space-around;

        .avatar{
            flex-direction: column;
            align-items: center;

            div{
                background-image: url('https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
                background-size: cover;
            }


            @media only screen and (max-width:768px) {
                &:nth-child(3){
                    display: none;
                }
            }

            @media only screen and (max-width:425px) {
                &:nth-child(2){
                    display: none;
                }
            }

        }


        .view_all{
            div {
                background: $lightBlack;
            }
        }

        .circle{
            div{
                width: 80px;
                height: 80px;
                border-radius: 100%;
            }
        }
    }
}