.display-card{
    &-product-list-heading{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        // change this color
        color: $gray;
        border-bottom: 1px solid $lightGrayishBlack;
        width: 100%;
        margin-bottom: 10px;
    }

    &-product-list{
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-products{
        .product{
            display: flex;
            justify-content: space-between;
            height: 70px;
            margin-bottom:10px;

            .details{
                display: flex;
                gap:10px;
                .image{
                    width: 60px;
                    height: 60px;
                    background-size: cover;
                    background-position: center;
                    background-image: url('https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
                }

                .title{
                    display: flex;
                    flex-direction: column;
                }
            }

            .data{
                text-align: end;

                .product-state{
                    text-align: center;
                    padding: 3px 9px;
                    font-size: 12px;
                    border-radius: 5px;

                    &.active{
                        background: rgba($primaryGreen, 0.2);
                        color:$primaryGreen;
                    }

                    &.deactive{
                        background: rgba($primaryRed, 0.2);
                        color:$primaryRed;
                    }
                }
            }
        }
    }
}
