.side_bar{
    background: $grayBlack;
    padding: 25px;
    width: 250px;

    @media only screen and (max-width:590px){
        &{
            display: none;
        }
    }

    &-container{
        height: calc(100% - 70px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-logo-container{
        height: 70px;
    }

    &-item{
        padding:10px;
        display: flex;
        justify-content: space-between;
        border: solid 1px transparent;

        &:hover , &.active{
            background: $lightBlack;
            border-bottom: solid 1px $black;
            border-top: solid 1px rgba($white, 0.1);
        }
    }

    .item-container{
        .side_bar-icon{
            margin-right: 10px;
        }
    }

    &-toggle-container{
        gap: 20px;
        display: flex;
        flex-direction: column;
        
        .side_bar-toggle-buttons{
            display: flex;
            background: $black;

            .mode{
                width: 50%;
                text-align: center;
                margin: 5px;

                &.active{
                    background: $grayBlack;
                }

                @media screen and (max-width:768px) {
                    &{
                        width: 100%;
                        &.unactive , .name{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &-help-getting-started{
        display: flex;
        gap: 10px;
        svg{
            font-size: 20px;
        }

        p{
            font-size: 15px;
        }

        @media screen and (max-width:768px) {
            flex-direction: column-reverse;
            align-items: center;
            p , .notice{
                display: none !important;
            }
        }

        .notice{
            display: inline-block;
            text-align: center;
            color: $black;
            font-weight: bold;
            min-width: 20px;
            height:20px;
            border-radius: 3px;
            background: $secondaryPurple;
        }
    }



    @media screen and (max-width:768px) {
        &{
            width: 90px;
        }

        &-name , .arrow{
            display: none;
        }
    }
}