.display-card{

    &-comment-list{
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .comment{
        display: flex;
        gap:10px; 
        margin-bottom:10px;
    
        .image{
            width: 60px;
            height: 60px;
            background-size: cover;
            background-position: center;
            background-image: url('https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
        }
    
        .container{
            width: calc(100% - 60px);
    
            .details{
                display: flex;
                justify-content: space-between;
                margin-bottom: 3px;
        
        
                .user{
                    display: flex;
                    gap:5px;
                }

                .user .handle , .time{
                    opacity: 0.5;
                }
            }

            .product{
                display: flex;
                &:before{
                    content:'On';
                    opacity:0.5;
                    margin-right: 5px;
                }
            }
        
            .content{
                margin:10px 0px;
            }

            .actions{
                max-width: 240px;
                display: flex;
                justify-content: space-between;
            }
    
        }
    
    }
}


